{{ define "main" }}
{{ range .Pages.ByPublishDate.Reverse }}
    <div class="hProjekt"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
        {{if isset .Params "table"}}
        <table class="projekt">
            <tbody>
                {{ range $row := first 2 .Params.table }}
                <tr>
                    {{ range $elem_key, $elem_val := $row }}
                        <td>{{ $elem_key }}:</td><td>{{ $elem_val }}</td>
                    {{ end }}
                </tr>
                {{ end }}
            </tbody>
        </table>
        {{ end }}
{{ end }}
{{ end }}