{{ define "main" }}
{{ $img         := print "/"        (path.Dir .Dir) "/" .File.BaseFileName ".jpg"}}
{{ $static_img  := print "/static/" .Dir                .File.BaseFileName ".jpg"}}
{{ if (fileExists $static_img ) -}}
<p style="text-align:center">
    <img src="{{ $img }}"/>
 </p>
{{- end }}

{{if isset .Params "table"}}
<table class="tableProjektDetail">
    {{ range $row := .Params.table }}
    <tr>
        {{ range $elem_key, $elem_val := $row }}
            <th>{{ $elem_key }}:</th><td>{{ $elem_val }}</td>
        {{ end }}
    </tr>
    {{ end }}
</table>
{{end}}
{{ .Content }}
{{ end }}