.hProjekt{
  padding-top: 20px;
  font-size: 12pt;
  padding-bottom: 3px;
}

.hProjektDetail {
  font-weight: bold;
  font-size: 12pt;
  padding-top: 20px;
}

.tableProjektDetail {
  text-align: left;
}

.tableProjektDetail th{
  padding-right: 20px;
}

td.leftColum {
/*  padding: 5px;*/
  width: 333px;
/*  background-color: #f3f3f3;
  color: gray;*/
  /*vertical-align: top;*/
}

/* Top Navi Menu */
td.logo {
  padding-top: 30px;
  width: 420px;
}

.fhmLogo {
    color: rgb(33,94,143);
    font-weight: bold;
    font-style: italic;
}

.fhmLogo a:hover {
  color: rgb(33,94,143);
}

.topNavi td, .leftNavi td {
/*  margin: 0px;
  padding:0px;*/
  padding-top: 8px;
  padding-left: 5px;
  width: 140px;
  /*vertical-align: top;*/
}

.leftNavi td {
  height: 137px;
}

.topNavi td {
  height: 115px;
 }

td.logo {
  width: 420px;
  padding: 5px;
  padding-top: 30px;
  background-color: #f3f3f3;
  color: gray;
  /*vertical-align: top;*/
}

.bannerNamen td {
  width: 33%;
  height: 20px;
  padding: 0px;
  vertical-align: middle;
}

.bannerNamen td a:hover {
  color: rgb(33,94,143);
}

table.bannerNamen {
  width:100%;
}

/*.topNavi td {
  margin-right: 20px;
}*/


.topNavi li, .leftNavi li {
  list-style-type: none;
}

.topNavi ul, .leftNavi ul{
  padding: 0px;
  margin: 0px;
}

.parent ul {
  padding-left: 10px;
}

.naviH1, .topNavi h3, .leftNavi h3{ 
  color: #000000;
  font-size: 12pt;
/*  font-weight: bold;*/
  font-weight: normal;
  margin: 0px;
  padding-bottom: 10px;
}

/*.topNavi a:link, .topNavi a:visited, .leftNavi a:link, .levtNavi a:visited {*/
a:link, a:visited {
  text-decoration: none;
  border-width: 0px;
  color: rgb(33,94,143);
}

a:hover, a:hover {
  text-decoration: underline;
  color: rgb(33,94,143);
}

/* hover menu with current state display */
.menuOff a:link, .menuOff a:visited, #current li a:link, #current li a:visited {
  color: #f3f3f3;
}

#current a:link, #current a:visited {
  color: rgb(33,94,143);
}

.menuOn a:link, .menuOn a:visited, .menuOn #current a:link, .menuOn #current a:visited {
  color: white;
}

.topNavi a:hover, leftNavi a:hover {
  color: white;
}

.menuOn { background-color: rgb(33,94,143); color: #000000; }
.menuOff { background-color: #f3f3f3; color: #f3f3f3; }

.marker {
/*  font-size: 12pt;*/
  color: #FFFFFF;
  background-color: rgb(33,94,143);
  font-weight: bold;
  letter-spacing: -0.75px;
}

.footer {
  text-align: right;
}
.footer a {
  margin-left: 10px;
}

/* colors and formats */
.fhmColor {
  color: rgb(33,94,143);
}

body, table {
  font-family: arial, sans-serif;
  font-size: 10pt;
}

td {
  vertical-align: top;
}
img{
  border-style: none;
}